.footer-page{
    max-width: 100%;
    background-color: #0E0B14;
    text-align: center;
    padding: 16px 0;
}
.logo-footer{
    width: 80px;
    margin:16px 0 16px 0;
}
.ul-footer{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    font-size: 0.7em;
    padding: 0 16px 8px 16px;
}
.ul-footer li > a:hover{
    text-decoration: underline;
}
.span-footer-rigth-resever{
    font-size: 0.7em;
    color: #B2C1C4;
    display: block;
    margin-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}